@page "/"
@inject IJSRuntime _js
<PageTitle>Strona główna</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello , @context.User.Identity.Name !</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Witaj, Nieautoryzowany Gościu</h1>
    </NotAuthorized>

</AuthorizeView>

 


@code {
    
    
}