<div>
    <text>Kolekcja jest pusta</text>
    <div>
        <img src="https://media.tenor.com/hsFFdzE8vdoAAAAi/out-of-money-bankrupt.gif" />
    </div>
</div>

@* Gdy kolekcja jest pusta to misio ma pusty portfel
   można go wykorzystać w dowolnym miejscu

*@