@inject ISubCategoryService _subCategoryService
@inject NavigationManager _navigationaManager
<div>
    <GenericCollectionComponent MyCollection="SubCategories">
        <Element Context="subcategory">
            <SimpleDictionaryRecordComponent IsCategoryContext="false" 
                SubCategory="subcategory" 
                DeleteSubCategory="DeleteSelectedCategory" 
                EditSubCategory="EditSubCategory"
                />
        </Element>
    </GenericCollectionComponent>

</div>
<ChoiceComponent @ref="_choice" OnAccept="Accept" OnCancel="Cancel">
    <div> Czy usunąć rekord @_subCategoryToRemove?.SubCatName ?</div>
</ChoiceComponent>

@code {
    ChoiceComponent? _choice;
    SubCategory? _subCategoryToRemove;


    [Parameter] public List<SubCategory> SubCategories { get; set; } = new List<SubCategory>();


    private async Task EditSubCategory(SubCategory subCategory)
    {
        _subCategoryToRemove = subCategory;
        _navigationaManager.NavigateTo($"/addoreditsubcategory/{_subCategoryToRemove.Id}");
    }
    private async Task DeleteSelectedCategory(SubCategory subCategory)
    {
        _subCategoryToRemove = subCategory;
        _choice?.Show();
    }
    private void Accept()
    {
        if (_subCategoryToRemove != null)
            _subCategoryService.DeleteSubCategory(_subCategoryToRemove.Id);
        _choice?.Hide();
        _subCategoryToRemove = null;
        _navigationaManager.NavigateTo($"/categorydictionary/{false}", true);

    }
    private void Cancel()
    {
        _choice?.Hide();
        _subCategoryToRemove = null;
    }
}
